.alertBox {
  margin: .5rem auto;
    width: 25rem;
    max-height: 7.5rem;
    position: fixed;
    z-index: 10000;
    top: -.7rem;
    left: 7rem;
    overflow-x: scroll;
}

.alertBoxText {
  color: black;
}
